{% if applications | get_app_conf(application_id, 'docker.services.oauth2.enabled', False) %}
  oauth2-proxy:
    image: {{ applications | get_app_conf('web-app-oauth2-proxy', 'docker.services.oauth2-proxy.image') }}:{{ applications | get_app_conf('web-app-oauth2-proxy', 'docker.services.oauth2-proxy.version') }}
    restart: {{ DOCKER_RESTART_POLICY }}
    command: --config /oauth2-proxy.cfg
    container_name: {{ application_id | get_entity_name }}-oauth2-proxy
    hostname: oauth2-proxy
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ ports.localhost.oauth2[application_id] }}:4180/tcp
    volumes:
      - "{{ lookup('docker', application_id, want='directories.volumes') }}{{ applications | get_app_conf('web-app-oauth2-proxy','configuration_file')}}:/oauth2-proxy.cfg"
    healthcheck:
      test: ["CMD", "/bin/oauth2-proxy", "--version"]
      interval: 30s
      timeout: 5s
      retries: 1
      start_period: 5s
{% endif %}
