{
  "name": "infinito-playwright-e2e-example",
  "private": true,
  "scripts": {
    "test": "playwright test"
  },
  "devDependencies": {
    "@playwright/test": "{{ TEST_E2E_PLAYWRIGHT_VERSION }}"
  }
}
