{% if (TLS_CERT_FILE | default('') | length > 0) and (TLS_KEY_FILE | default('') | length > 0) %}
listen {{ applications | tls_web_port(application_id, TLS_ENABLED)  }} ssl;
listen [::]:{{ applications | tls_web_port(application_id, TLS_ENABLED)  }} ssl;
http2 on;

ssl_protocols TLSv1.2 TLSv1.3;
ssl_ecdh_curve X25519:P-256;
ssl_prefer_server_ciphers on;

ssl_session_timeout 1d;
ssl_session_cache shared:SSL:50m;
ssl_session_tickets on;

add_header Strict-Transport-Security max-age=15768000;

ssl_stapling on;
ssl_stapling_verify on;

{% include 'roles/sys-front-tls-layer/templates/ssl_credentials.j2' %}

{% else %}
listen {{ applications | tls_web_port(application_id, TLS_ENABLED)  }};
listen [::]:{{ applications | tls_web_port(application_id, TLS_ENABLED)  }};
{% endif %}
