---
{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
{% set container_port = 8080 %}  
  {{ application_id | get_entity_name }}:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ MINI_QR_IMAGE }}:{{ MINI_QR_VERSION }}"
    container_name: "{{ MINI_QR_CONTAINER }}"
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
