{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
    image: "{{ KEYCLOAK_IMAGE }}:{{ KEYCLOAK_VERSION }}"
    container_name: {{ KEYCLOAK_CONTAINER }}
    command: start{% if KEYCLOAK_IMPORT_REALM_ENABLED %} --import-realm{% endif %}{% if KEYCLOAK_DEBUG_ENABLED %} --verbose{% endif %}
    {% include 'roles/docker-container/templates/base.yml.j2' %}
    ports:
      - "{{ KEYCLOAK_SERVER_HOST }}:8080"
    volumes:
      - "{{ KEYCLOAK_HOST_IMPORT_DIR }}:{{KEYCLOAK_DOCKER_IMPORT_DIR}}"
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% set container_port = 9000 %}
{% set container_healthcheck = 'health/live' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}