{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ SPHINX_IMAGE }}:{{ SPHINX_VERSION }}"
    container_name:  "{{ SPHINX_CONTAINER }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
