.bg-background\/95 {
    background-color: var(--color-01-96);
}

.border-border {
    border-color: var(--color-01-85);
}

{# Hide Toogle Button #}
nav.flex.items-center.space-x-1{
    display:none;
}
