document.addEventListener('DOMContentLoaded', function() {
    initLogoutPatch(
        '{{ OIDC.CLIENT.LOGOUT_URL }}',
        '{{ applications | tls_web_protocol(application_id, TLS_ENABLED) }}',
        '{{ DOMAIN_PRIMARY }}',
        {{ MODE_DEBUG | lower }}
    );
});
