document.addEventListener('DOMContentLoaded', function() {
    initLogoutPatch(
        '{{ OIDC.CLIENT.LOGOUT_URL }}',
        '{{ WEB_PROTOCOL }}',
        '{{ PRIMARY_DOMAIN }}',
        {{ MODE_DEBUG | lower }}
    );
});
