# Set default values for all following accounts.
defaults
auth           on
logfile        ~/.msmtp.log
tls_starttls   {{ 'on' if SYSTEM_EMAIL.START_TLS else 'off' }}
{% if SYSTEM_EMAIL.TLS %}
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% else %}
tls            off
{% endif %}

account        system_email_no_reply
host           {{ SYSTEM_EMAIL.HOST }}
port           {{ SYSTEM_EMAIL.PORT }}
from           {{ users['no-reply'].email }}
user           {{ users['no-reply'].email }}
password       {{ users['no-reply'].mailu_token }}

account default : system_email_no_reply