{% include 'roles/docker-compose/templates/base.yml.j2' %}

  {{ SNIPE_IT_SERVICE }}:
{% set container_port = 80 %}
    image: "{{ SNIPE_IT_IMAGE }}:{{ SNIPE_IT_VERSION }}"
    container_name: "{{ SNIPE_IT_CONTAINER }}"
{% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
      - data:/var/lib/snipeit
      - {{ lookup('docker', application_id, 'files.env') }}:/var/www/html/.env:ro
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, want='volume'),
    extra_volumes={'data': {'name': SNIPE_IT_VOLUME}}
) }}
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
