{% include 'roles/docker-compose/templates/base.yml.j2' %}

  moodle:
{% set container_port = 8080 %}
    container_name: {{ MOODLE_CONTAINER }}
    {{ lookup('template', 'roles/docker-container/templates/build.yml.j2') | indent(4) }}
    image: MOODLE_CUSTOM
    ports:
      - 127.0.0.1:{{ ports.localhost.http[application_id] }}:{{ container_port }}
{% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
      - 'code:{{ BITNAMI_CODE_LINK }}'
      - 'data:{{ BITNAMI_DATA_DIR }}'
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  code:
    name: {{ MOODLE_VOLUME_CODE }}
  data:
    name: {{ MOODLE_VOLUME_DATA }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
  