{# This template needs to be included in docker-compose.yml, which depend on a postgres database #}

{% if not lookup('database', application_id, 'shared') %}  
  {{ lookup('database', application_id, 'host') }}:
    image: {{ lookup('database', application_id, 'image') }}:{{ lookup('database', application_id, 'version') }}
    container_name: {{ application_id | get_entity_name }}-database
    env_file:
      - {{ lookup('database', application_id, 'env') }}
    restart: {{ DOCKER_RESTART_POLICY }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ lookup('database', application_id, 'username') }}"]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - type:   volume
        source: database
        target: /var/lib/postgresql/data
    networks:
      - default
{% endif %}
{{ "\n" }}