{# This template needs to be included in docker-compose.yml, which depend on a postgres database #}

{% if not applications | get_app_conf(application_id, 'docker.services.database.shared', False) %}  
  {{ database_host }}:
    image: {{ database_image }}:{{ database_version }}
    container_name: {{ application_id | get_entity_name }}-database
    env_file:
      - {{ database_env }}
    restart: {{ DOCKER_RESTART_POLICY }}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ database_username }}"]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - type:   volume
        source: database
        target: /var/lib/postgresql/data
    networks:
      - default
{% endif %}
{{ "\n" }}