{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
    # Build local custom image (no Bitnami)
    build:
      context: "."
      dockerfile: Dockerfile
    image: "infinito/openldap:local"
    container_name: "{{ OPENLDAP_CONTAINER }}"
{% include 'roles/docker-container/templates/base.yml.j2' %}

{% if OPENLDAP_NETWORK_EXPOSE_LOCAL | bool %}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ports.localhost.ldap['svc-db-openldap']}}:{{ OPENLDAP_DOCKER_PORT_OPEN }}
{% endif %}

    volumes:
      # Persist data + config
      - 'data:/var/lib/ldap'
      # Rendered LDIFs (read-only)
      - '{{ OPENLDAP_LDIF_PATH_HOST }}:{{ OPENLDAP_LDIF_PATH_DOCKER }}:ro'

{% include 'roles/docker-container/templates/networks.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=(database_volume if database_volume is defined else None),
    extra_volumes={'config': {'name': OPENLDAP_VOLUME ~ '_config'}, 'data': {'name': OPENLDAP_VOLUME}}
) }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
