{# Base for docker services #}

    restart: {{ docker_restart_policy | default(DOCKER_RESTART_POLICY) }}
{% if application_id | has_env  %}
    env_file:
      - "{{ docker_compose.files.env }}"
{% endif %}
    logging:
      driver: {{ "json-file" if DOCKER_IN_CONTAINER | bool else 'journald' }}
{% filter indent(4) %}
    {% include 'roles/docker-container/templates/resource.yml.j2' %}
{% endfilter %}
{{ "\n" }}