{# Base for docker services #}

    restart: {{ DOCKER_RESTART_POLICY }}
{% if application_id | has_env  %}
    env_file:
      - "{{ docker_compose.files.env }}"
{% endif %}
    logging:
      driver: journald
    {{ lookup('template', 'roles/docker-container/templates/resource.yml.j2') | indent(4) }}
{{ "\n" }}