{# This template needs to be included in docker-compose.yml containers #}
    networks:
{# Central RDMS-Database Network #}
{% if 
  (
    lookup('database', application_id, want='enabled') and 
    lookup('database', application_id, want='shared')
  )
  or
  application_id in ['svc-db-mariadb','svc-db-postgres']
%}
      {{ applications | get_app_conf('svc-db-' ~ lookup('database', application_id, want='type'), 'docker.network') }}:
{% if application_id in ['svc-db-mariadb','svc-db-postgres'] %}
          aliases:
            - {{ lookup('database', application_id, want='type') }}
{% endif %}
{% endif %}
{# Central LDAP Network #}
{% if applications | get_app_conf(application_id, 'docker.services.ldap.shared', False) and applications | get_app_conf('svc-db-openldap', 'network.docker') %}
      {{ applications | get_app_conf('svc-db-openldap', 'docker.network') }}:
{% endif %}
{# Central AI Network #}
{% if applications | get_app_conf(application_id, 'docker.services.ollama.shared', False) %}
      {{ applications | get_app_conf('svc-ai-ollama', 'docker.network') }}:
{% endif %}
{% if not application_id.startswith('svc-db-') and not application_id.startswith('svc-ai-') %}
      default:
{% endif %}
{{ "\n" }}
