{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  logout:
    {% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ LOGOUT_IMAGE }}:{{ LOGOUT_VERSION }}"
    container_name: "{{ LOGOUT_CONTAINER }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ http_port }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
