APP_BASE_URL={{ OPENTALK_URL | dotenv_quote }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
LOGIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
LOGIN_PASSWORD={{ lookup('users', 'administrator').password | dotenv_quote }}
BIBER_USERNAME={{ lookup('users', 'biber').username | dotenv_quote }}
BIBER_PASSWORD={{ lookup('users', 'biber').password | dotenv_quote }}
OPENTALK_OIDC_ENABLED={{ lookup('config', application_id, 'services.oidc.enabled') }}
OPENTALK_OPENCLOUD_URL={{ OPENTALK_OPENCLOUD_URL | dotenv_quote }}
