[Unit]
Description=Checking docker health
OnFailure={{ SYS_SERVICE_ON_FAILURE_COMPOSE }}

[Service]
Type=oneshot
ExecStart=/bin/bash {{ systemctl_id | get_service_script_path('sh') }} "{{ DOCKER_WHITELISTET_ANON_VOLUMES | join(' ') }}"
