[Unit]
Description={{ SOFTWARE_NAME }} - Service for role '{{ systemctl_id }}'
OnFailure={{ systemctl_tpl_on_failure }}

[Service]
Type={{ systemctl_tpl_type }}
ExecStart={{ systemctl_tpl_exec_start }}
