RUNNER_COUNT={{ 0 if (DOCKER_IN_CONTAINER | default(false) | bool) else (runner_count | default(1)) }}
RUNNER_INSTALL_DIR={{ runner_install_dir | default('/opt/github-runner') }}
RUNNER_DOCKER_BASE={{ runner_docker_base | default('/mnt/docker') }}
RUNNER_PROJECT_PREFIX={{ runner_project_prefix | default('runner') }}
