APP_BASE_URL={{ lookup('tls', DASHBOARD_APPLICATION_ID, 'url.base') }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
LOGIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
LOGIN_PASSWORD={{ DASHBOARD_KEYCLOAK_TEST_LOGIN_PASSWORD | dotenv_quote }}
CDN_BASE_URL={{ lookup('tls', 'web-svc-cdn', 'url.base') | dotenv_quote }}
DASHBOARD_JS_BASE_URL={{ DASHBOARD_JS_BASE_URL | dotenv_quote }}
MATOMO_BASE_URL={{ lookup('tls', 'web-app-matomo', 'url.base') | dotenv_quote }}
MATOMO_ENABLED={{ lookup('applications') | get_app_conf(DASHBOARD_APPLICATION_ID, 'compose.services.matomo.enabled') }}
