.card-img-top i {
    filter: drop-shadow(4px 4px 4px rgba(var(--color-01-rgb-23), 0.6));
}

.kanban-table-body .kanban-uses-box {
    background-color: var(--color-01-81);
}

.kanban-swimlane-title {
    border-bottom: none;
}

.navbar-toggler {
    background-color:   rgba(var(--color-01-rgb-75), 0.9);
    border-color:       var(--color-01-67)
}

.sys-ctl-alm-info {
    --bs-sys-ctl-alm-color: var(--color-03-14);
    --bs-sys-ctl-alm-bg: var(--color-01-86);
}