{
    "api": "{{ lookup('tls', application_id, 'protocols.web') }}://{{ lookup('domain', application_id) }}/api/v1/",
    "eventsUrl": "{{ lookup('tls', application_id, 'protocols.websocket') }}://{{ lookup('domain', application_id) }}/events",
    "eventsMaxMissedHeartbeats": 5,
    "eventsHeartbeatIntervalTime": 60000,
    "eventsReconnectTries": 3,
    "tribeHost": null,
    "importers": [],
    "gravatar": false,
    "rtlLanguages": ["fa"]{% if TAIGA_LDAP_ENABLED | bool %},
    "loginFormType": "ldap"{% endif %}{% if TAIGA_OIDC_ENABLED | bool %},
    "contribPlugins": ["/plugins/oidc-auth/oidc-auth.json"]{% endif %}
}
