{
    "policies": {
      "Extensions": {
        "Install": [
          {% for plugin in lookup('config',application_id, 'plugins') -%}
            "{{ plugin }}"{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "DisablePasswordManager": true
    }
  }
  