[class*=sidebar-dark-], .bg-mailu-logo {
    background-color: var(--color-01-90);
    /* New Gradient based on original background (90 -5, 90, 90 +1, 90 +5) */
    background: linear-gradient({{ range(0, 361) | random }}deg, var(--color-01-85), var(--color-01-90), var(--color-01-91), var(--color-01-95));
}

div.statusError {
    background-color: var(--color-01-60);
    /* New Gradient based on original background (60 -5, 60, 60 +1, 60 +5) */
    background: linear-gradient({{ range(0, 361) | random }}deg, var(--color-01-55), var(--color-01-60), var(--color-01-61), var(--color-01-65));
}

div.wrapper footer.main-footer, div.wrapper div.content-wrapper{
    background-color: var(--color-01-85);
    background: linear-gradient({{ range(0, 361) | random }}deg, var(--color-01-89), var(--color-01-85), var(--color-01-80), var(--color-01-79));
    color: var(--color-01-39);
}

html.dark-mode #layout-menu .special-buttons a:not(:focus) {
    background: none;
}

html.dark-mode #taskmenu a.selected, html.dark-mode .menu.toolbar a.selected {
    background-color: rgba(var(--color-01-rgb-82), 0.5);
}

html.dark-mode .listing li.selected, html.dark-mode .listing li.selected>a, html.dark-mode .listing li.selected>div>a, html.dark-mode .listing tr.selected td {
    color: var(--color-01-30);
    background-color: rgba(var(--color-01-rgb-82), 0.5);
}

html.dark-mode .message-htmlpart {
    background-color: rgba(var(--color-01-rgb-99), 0.08);
    color: var(--color-01-15);
}
