UPDATE public.plugin
SET settings    = '{{ oidc_settings | to_json }}'::jsonb,
    enabled     = TRUE,
    uninstalled = FALSE
WHERE name = 'auth-openid-connect'
  AND (
    settings IS DISTINCT FROM '{{ oidc_settings | to_json }}'::jsonb
    OR enabled IS DISTINCT FROM TRUE
    OR uninstalled IS DISTINCT FROM FALSE
  );
