credentials: {}
compose:
  services:
    redis:
      enabled:          false   # Enable Redis 
    database:
      enabled:          false   # Enable the database
    {{ application_id | get_entity_name }}:  
      backup:
        no_stop_required: true  # The images that don't need to stop
        disabled:         true  # Disables the image
        database_routine: true  # Instead of copying a database routine will be triggered for this container
      image:            ""                                            # The container image of the software you want to use
      version:          "latest"                                      # The container version of the software you want to use
      container:        "{{ application_id | get_entity_name }}"      # The container name
    volumes:
      data:             "{{ application_id | get_entity_name }}_data"
server:
  csp:
    whitelist:                # URL's which should be whitelisted           
      script-src-elem:  []
      style-src-attr:        []
      font-src:         []
      connect-src:      []
      frame-src:        []
    flags:                    # Flags which should be set
      style-src-attr:
        unsafe-inline:  false
      script-src-attr:
        unsafe-inline:  false
      script-src-elem:
        unsafe-inline:  false
  domains:
    canonical:        {}      # Urls under which the domain should be directly accessible
    aliases:          []      # Alias redirections to the first element of the canonical domains
rbac:
  roles: {}
