MYSQL_DATABASE="{{ lookup('database', application_id, 'name') }}"
MYSQL_USER="{{ lookup('database', application_id, 'username') }}"
MYSQL_PASSWORD="{{ lookup('database', application_id, 'password') }}"
MYSQL_ROOT_PASSWORD="{{ lookup('database', application_id, 'password') }}"
MARIADB_AUTO_UPGRADE="1"