POSTGRES_PASSWORD={{ lookup('database', application_id, 'password') }}
POSTGRES_USER={{ lookup('database', application_id, 'username') }}
POSTGRES_DB={{ lookup('database', application_id, 'name') }}
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C