server {
  server_name {{ domain }};

  {% include 'roles/sys-front-tls/templates/nginx_ssl_header.j2' %}

  {% include 'roles/sys-front-inj-all/templates/server.conf.j2' %}

  client_max_body_size {{ webserver_client_max_body_size | default('100m') }};
  keepalive_timeout    70;
  sendfile             on;

  gzip on;
  gzip_disable "msie6";
  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_buffers 16 8k;
  gzip_http_version 1.1;
  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
  {% include 'roles/sys-svc-proxy/templates/location/html.conf.j2' %}

  {% if webserver_websocket_location | default(false) %}
    {% include 'roles/sys-svc-proxy/templates/location/ws.conf.j2' %}
  {% endif %}

  error_page 500 501 502 503 504 /500.html;
}
