APP_BASE_URL={{ lookup('tls', application_id, 'url.base') | dotenv_quote }}

CANONICAL_DOMAIN={{ lookup('domain', application_id) | dotenv_quote }}

CDN_BASE_URL={{ lookup('tls', 'web-svc-cdn', 'url.base') | dotenv_quote }}

CSS_BASE_URL={{ lookup('tls', 'web-svc-css', 'url.base') | dotenv_quote }}

CSS_TARGET_ROLES_JSON={{ lookup('roles_with_service', 'css') | to_json | dotenv_quote }}

