[Unit]
Description=Timer to start {{ systemctl_timer_service }}{{ SYS_SERVICE_SUFFIX }}

[Timer]
OnCalendar={{ systemctl_on_calendar }}
RandomizedDelaySec={{ RANDOMIZED_DELAY_SEC }}
Persistent={{ persistent | default('false') }}

[Install]
WantedBy=timers.target
