[Unit]
Description=Timer to start {{ system_service_timer_service }}{{ SYS_SERVICE_SUFFIX }}

[Timer]
OnCalendar={{ system_service_on_calendar }}
RandomizedDelaySec={{ RANDOMIZED_DELAY_SEC }}
Persistent={{ system_service_timer_persistent | default('false') }}

[Install]
WantedBy=timers.target
