{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    image: "{{ mobilizon_image }}{{ ':' ~ mobilizon_version if mobilizon_version }}"
    container_name: "{{ mobilizon_container }}"
    volumes:
      - uploads:/var/lib/mobilizon/uploads
      - {{ mobilizon_host_conf_exs_file }}:/etc/mobilizon/config.exs:ro
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=(database_volume if database_volume is defined else None),
    extra_volumes={'uploads': {}}
) }}
{% include 'roles/docker-compose/templates/networks.yml.j2' %}

