

# Bootstrap
MATOMO_URL="{{ MATOMO_SERVICE_URL }}"
MATOMO_ADMIN_USER="{{ MATOMO_ADMIN_USER_NAME }}"
MATOMO_ADMIN_PASSWORD={{ MATOMO_ADMIN_PASSWORD | dotenv_quote }}
MATOMO_ADMIN_EMAIL="{{ MATOMO_ADMIN_EMAIL }}"
MATOMO_TOKEN_DESCRIPTION="{{ MATOMO_TOKEN_DESCRIPTION }}"
MATOMO_TIMEOUT="{{ MATOMO_BOOTSTRAP_TIMEOUT }}"

MATOMO_SITE_NAME="{{ MATOMO_SITE_NAME }}"
MATOMO_SITE_URL="{{ MATOMO_SITE_URL }}"
MATOMO_TIMEZONE="Germany - Berlin"

# If we already have a token, enforce idempotent output
{% if matomo_token_value is defined and (matomo_token_value | string | length) > 0 %}
MATOMO_BOOTSTRAP_TOKEN_AUTH="{{ matomo_token_value }}"
{% endif %}

MATOMO_PLAYWRIGHT_HEADLESS="1"
MATOMO_PLAYWRIGHT_NAV_TIMEOUT_MS="60000"
MATOMO_PLAYWRIGHT_SLOWMO_MS="0"

#Timeouts
MATOMO_INSTALLER_READY_TIMEOUT_S="240"
MATOMO_INSTALLER_STEP_TIMEOUT_S="45"
MATOMO_INSTALLER_STEP_DEADLINE_S="240"
MATOMO_INSTALLER_TABLES_CREATION_TIMEOUT_S="240"
MATOMO_INSTALLER_TABLES_ERASE_TIMEOUT_S="180"
