{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    container_name:  {{ MATOMO_NAME }}
{% set container_port = 80 %}
{% include 'roles/docker-container/templates/base.yml.j2' %}
    image: "{{ MATOMO_IMAGE }}:{{ MATOMO_VERSION }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
    volumes:
      - data:/var/www/html
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: {{ MATOMO_DATA }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
