DECIDIM_BASE_URL={{ lookup('tls', application_id, 'url.base') }}
ADMIN_EMAIL={{ users.administrator.email }}
ADMIN_PASSWORD={{ users.administrator.password }}
OIDC_ISSUER_URL={{ DECIDIM_OIDC_ISSUER }}
