.title, .subtitle {
    color: var(--color-01-10);
}

.is-child {
    background-color: rgba( var(--color-rgb-01-80), 0.3 );
    color: var(--color-01-10);
}

.footer{
      background-color: rgba( var(--color-rgb-01-80), 0.3 );
      color: var(--color-01-90);
}

.has-background-primary-light{
     background-color: rgba( var(--color-rgb-01-80), 0.3 ) !important; 
}

.has-background-secondary{
     background-color: rgba( var(--color-rgb-01-80), 0.3 ) !important;
}