# Serve a static silent-check-sso.html file directly from memory
location = {{ DASHBOARD_LOCATION_SILENT_CHECK }} {
    default_type text/html;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header Cache-Control "no-store";

    return 200 '<!DOCTYPE html>
<html>
  <head>
    <title>Silent SSO</title>
  </head>
  <body>
    Checking SSO...
  </body>
</html>';
}
