{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        SIMPLEICONS_IMAGE: "{{ SIMPLEICONS_IMAGE }}"
        SIMPLEICONS_VERSION: "{{ SIMPLEICONS_VERSION }}"
        container_port: "{{ container_port | string }}"
    image: simpleicons-server:latest
    container_name: simpleicons-server
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.simpleicons.ports.local.http') }}:{{ container_port }}
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% include 'roles/sys-svc-container/templates/healthcheck/curl.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
