{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  application:
    {{ lookup('template', 'roles/docker-container/templates/build.yml.j2') | indent(4) }}
    image: simpleicons-server:latest
    container_name: simpleicons-server
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
