{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
    {{ lookup('template', 'roles/docker-container/templates/build.yml.j2') | indent(4) }}
      args:
        BRIDGY_REPO_URL: "{{ BRIDGY_REPO_URL }}"
        BRIDGY_REPO_BRANCH: "{{ BRIDGY_REPO_BRANCH }}"
        CONTAINER_PORT:  "{{ container_port | string }}"
    image: "{{ BRIDGY_IMAGE }}:{{ BRIDGY_VERSION }}"
    container_name: "{{ BRIDGY_CONTAINER }}"
    hostname: "{{ container_hostname }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ http_port }}:{{ container_port }}"
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
