{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
{% include 'roles/docker-container/templates/base.yml.j2' %}
    container_name: "{{ MEDIAWIKI_CONTAINER }}"
    image: "{{ MEDIAWIKI_IMAGE }}:{{ MEDIAWIKI_VERSION }}"
    volumes:
      - "images:/var/www/html/images"
      - "extensions:/var/www/html/extensions"
      - "{{ MEDIAWIKI_LOCALSETTINGS_HOST_PATH }}:{{ MEDIAWIKI_LOCALSETTINGS_CONTAINER_PATH }}:ro"
      - "{{ MEDIAWIKI_LOCAL_MOUNT_DIR }}:{{ MEDIAWIKI_LOCAL_PATH }}:ro"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=(database_volume if database_volume is defined else None),
    extra_volumes={'extensions': {'name': MEDIAWIKI_VOLUME_EXTENSIONS}, 'images': {'name': MEDIAWIKI_VOLUME_IMAGES}}
) }}
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
