{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  pihole:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ PIHOLE_IMAGE }}:{{ PIHOLE_VERSION }}"
    container_name: "{{ PIHOLE_CONTAINER }}"
    environment:
      TZ:               "{{ PIHOLE_TIMEZONE }}"
      WEBPASSWORD:      "{{ PIHOLE_PASSWORD }}"
      PIHOLE_DNS_:      "{{ PIHOLE_UPSTREAM_DNS }}"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ PIHOLE_PORT }}:80/tcp"
    volumes:
      - pihole_data:/etc/pihole
      - pihole_dnsmasq:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

networks:
  default:
    name: "{{ PIHOLE_NETWORK }}"
    external: true

{{ applications | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, 'volume'),
    extra_volumes={
      'pihole_data':   {'name': PIHOLE_VOLUME_DATA},
      'pihole_dnsmasq': {'name': PIHOLE_VOLUME_DNSMASQ}
    }
) }}
