# Add memberOf overlay to data backend (cn=config)
dn: olcOverlay={0}memberof,{{ OPENLDAP_DATA_BACKEND_DN }}
objectClass: olcOverlayConfig
objectClass: olcMemberOf
olcOverlay: memberof
olcMemberOfDangling: ignore
olcMemberOfRefInt: TRUE
olcMemberOfGroupOC: groupOfNames
olcMemberOfMemberAD: member
olcMemberOfMemberOfAD: memberOf
