# Add refint overlay to data backend (cn=config)
dn: olcOverlay={1}refint,{{ OPENLDAP_DATA_BACKEND_DN }}
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
olcOverlay: refint
olcRefintAttribute: memberOf member manager owner
