{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  pds:
{% set container_port = 3000 %}
{% set container_healthcheck = 'xrpc/_health' %}
    image: "{{ BLUESKY_PDS_IMAGE }}:{{ BLUESKY_PDS_VERSION }}"
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    volumes:
        - pds_data:{{ BLUESKY_PDS_DATA_DIR }}
        - {{ BLUESKY_PDSADMIN_FILE }}:/usr/local/bin/pdsadmin:ro
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ BLUESKY_API_PORT }}:{{ container_port }}"

{% include 'roles/sys-svc-container/templates/healthcheck/wget.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{% if BLUESKY_WEB_ENABLED %}
{% set container_port = 8100 %}
  web:
    command: ["bskyweb","serve"]
    build:
      context: "{{ BLUESKY_SOCIAL_APP_DIR }}"
      dockerfile: Dockerfile
    image: {{ BLUESKY_WEB_IMAGE_CUSTOM }}
    pull_policy: never
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ BLUESKY_WEB_PORT }}:{{ container_port }}"
{% include 'roles/sys-svc-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

  bluesky-broker:
    build:
      context: "{{ BLUESKY_BROKER_BUILD_CONTEXT }}"
      dockerfile: Dockerfile
    image: {{ BLUESKY_BROKER_IMAGE }}
    container_name: {{ BLUESKY_BROKER_CONTAINER }}
    hostname: bluesky-broker
    pull_policy: never
    restart: {{ DOCKER_RESTART_POLICY }}
    environment:
      BROKER_PORT: "8080"
      SOCIAL_APP_URL: "http://web:8100"
      PDS_URL: "{{ lookup('tls', application_id, 'protocols.web') }}://{{ BLUESKY_API_DOMAIN }}"
      PDS_HANDLE_DOMAIN: "{{ DOMAIN_PRIMARY }}"
      KC_ADMIN_BASE_URL: "{{ lookup('tls', 'web-app-keycloak', 'url.base') }}"
      KC_ADMIN_REALM: "{{ OIDC.CLIENT.REALM }}"
      KC_USER_REALM: "{{ OIDC.CLIENT.REALM }}"
      KC_ADMIN_CLIENT_ID: "{{ BLUESKY_BROKER_KC_CLIENT_ID }}"
      KC_ADMIN_CLIENT_SECRET: "{{ BLUESKY_KC_ADMIN_CLIENT_SECRET }}"
      BLUESKY_BRIDGE_ENCRYPTION_KEY: "{{ BLUESKY_BRIDGE_ENCRYPTION_KEY }}"
      INSECURE_TLS: "{{ MODE_DEBUG | string | lower }}"
    healthcheck:
      test: ["CMD", "wget", "-q", "-O-", "http://127.0.0.1:8080/healthz"]
      interval: 30s
      timeout: 5s
      retries: 3
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}
{% endif %}

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={'pds_data': {'name': BLUESKY_PDS_DATA_VOLUME}}
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
