server {
    server_name {{ domain }};
    {% include 'roles/srv-letsencrypt/templates/ssl_header.j2' %}
    
    # For the federation port
    listen {{ FEDERATION_PORT }} ssl default_server;
    listen [::]:{{ FEDERATION_PORT }} ssl default_server;

    {% include 'roles/sys-srv-web-inj-compose/templates/server.conf.j2'%}

    {% include 'roles/srv-proxy-core/templates/location/html.conf.j2' %}

    {% include 'roles/srv-proxy-core/templates/location/upload.conf.j2' %}
}
