server {
    server_name {{ domain }};
    {% include 'roles/sys-front-tls-layer/templates/nginx_ssl_header.j2' %}
    
    # For the federation port
    listen {{ MATRIX_SYNAPSE_LISTEN_FLAGS }};
    listen [::]:{{ MATRIX_SYNAPSE_LISTEN_FLAGS }};

    {% include 'roles/sys-front-inj-all/templates/server.conf.j2'%}

    {% include 'roles/sys-svc-proxy/templates/location/html.conf.j2' %}

    {% include 'roles/sys-svc-proxy/templates/location/upload.conf.j2' %}
}
