<?php
return [
  'dbhost'     => '{{ lookup('database', application_id, want='host') }}:{{ lookup('database', application_id, want='port') }}',
  'dbname'     => '{{ lookup('database', application_id, want='name') }}',
  'dbuser'     => '{{ lookup('database', application_id, want='username') }}',
  'dbpassword' => '{{ lookup('database', application_id, want='password') }}',
];
