<?php
return [
  'dbhost'     => '{{ lookup('database', application_id, 'host') }}:{{ lookup('database', application_id, 'port') }}',
  'dbname'     => '{{ lookup('database', application_id, 'name') }}',
  'dbuser'     => '{{ lookup('database', application_id, 'username') }}',
  'dbpassword' => '{{ lookup('database', application_id, 'password') }}',
];
