 {
  "name": "{{ lookup('config',application_id, 'scopes.nextcloud') }}",
  "description": "Optimized mappers for nextcloud oidc_login with ldap.",
  "protocol": "openid-connect",
  "attributes": {
    "include.in.token.scope": "false",
    "display.on.consent.screen": "true",
    "gui.order": "",
    "consent.screen.text": ""
  },
  "protocolMappers": [
    {
      "name": "{{ LDAP.USER.ATTRIBUTES.NEXTCLOUD_QUOTA }}",
      "protocol": "openid-connect",
      "protocolMapper": "oidc-usermodel-attribute-mapper",
      "consentRequired": false,
      "config": {
        "aggregate.attrs": "false",
        "introspection.token.claim": "true",
        "multivalued": "false",
        "userinfo.token.claim": "true",
        "user.attribute": "{{ LDAP.USER.ATTRIBUTES.NEXTCLOUD_QUOTA }}",
        "id.token.claim": "true",
        "lightweight.claim": "false",
        "access.token.claim": "true",
        "claim.name": "{{ LDAP.USER.ATTRIBUTES.NEXTCLOUD_QUOTA }}",
        "jsonType.label": "int"
      }
    },
    {
      "name": "UID Mapper",
      "protocol": "openid-connect",
      "protocolMapper": "oidc-usermodel-attribute-mapper",
      "consentRequired": false,
      "config": {
        "aggregate.attrs": "false",
        "introspection.token.claim": "true",
        "multivalued": "false",
        "userinfo.token.claim": "true",
        "user.attribute": "username",
        "id.token.claim": "true",
        "lightweight.claim": "false",
        "access.token.claim": "true",
        "claim.name": "{{ LDAP.USER.ATTRIBUTES.ID }}",
        "jsonType.label": "String"
      }
    }
  ]
}