{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
    image: "{{ OPENCLOUD_IMAGE }}:{{ OPENCLOUD_VERSION }}"
    container_name: {{ OPENCLOUD_CONTAINER }}
    user: "0:0"
    entrypoint:
      - /bin/sh
    command: ["-c", "opencloud init || true; opencloud server"]
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ OPENCLOUD_HTTP_PORT }}:9200"
    volumes:
      - data:/var/lib/opencloud
      - config:/etc/opencloud
{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ lookup('applications') | compose_volumes(
    application_id,
    extra_volumes={
      'data':   {'name': OPENCLOUD_DATA_VOLUME},
      'config': {'name': OPENCLOUD_CONFIG_VOLUME}
    }
) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
