APP_BASE_URL={{ OPENCLOUD_URL | dotenv_quote }}
OIDC_ISSUER_URL={{ OIDC.CLIENT.ISSUER_URL | dotenv_quote }}
LOGIN_USERNAME={{ lookup('users', 'administrator').username | dotenv_quote }}
LOGIN_PASSWORD={{ lookup('users', 'administrator').password | dotenv_quote }}
BIBER_USERNAME={{ lookup('users', 'biber').username | dotenv_quote }}
BIBER_PASSWORD={{ lookup('users', 'biber').password | dotenv_quote }}
OPENCLOUD_OIDC_ENABLED={{ lookup('config', application_id, 'services.oidc.enabled') }}
OPENCLOUD_LDAP_ENABLED={{ lookup('config', application_id, 'services.ldap.enabled') }}
OPENCLOUD_OPENTALK_URL={{ OPENCLOUD_OPENTALK_URL | dotenv_quote }}
