{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    {{ lookup('template', 'roles/docker-container/templates/build.yml.j2') | indent(4) }}
    image: "{{ JOOMLA_CUSTOM_IMAGE }}"
    container_name: {{ JOOMLA_CONTAINER }}
{% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
      - data:/var/www/html
      - {{ JOOMLA_UPLOAD_CONFIG }}:/usr/local/etc/php/conf.d/uploads.ini:ro
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: {{ JOOMLA_VOLUME }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
