{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    build:
      context: {{ docker_compose.directories.instance }}
      dockerfile: Dockerfile
    image: "{{ JOOMLA_CUSTOM_IMAGE }}"
    container_name: {{ JOOMLA_CONTAINER }}
    pull_policy: never
{% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
      - data:/var/www/html
{% if JOOMLA_LDAP_ENABLED %}
      - {{ JOOMLA_LDAP_CONF_FILE }}:/var/www/html/cli/cli-ldap.php:ro
{% if JOOMLA_LDAP_AUTO_CREATE_ENABLED | bool %}
      - {{ JOOMLA_LDAP_AUT_CRT_HOST_DIR }}:{{ JOOMLA_LDAP_AUT_CRT_DOCK_DIR }}:ro
{% endif %}
{% if MODE_DEBUG  | bool %}
      - {{ JOOMLA_LDAP_DIAG_HOST_FILE }}:{{ JOOMLA_LDAP_DIAG_DOCK_FILE }}:ro
      - {{ docker_compose.directories.volumes }}/cli-plugins.php:/var/www/html/cli/cli-plugins.php:ro
      - {{ docker_compose.directories.volumes }}/cli-ldap-auth-trace.php:/var/www/html/cli/ldap-auth-trace.php:ro
{% endif %}
{% endif %}
    ports:
      - "127.0.0.1:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: {{ JOOMLA_VOLUME }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
