{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ NAVIGATOR_SERVICE }}:
    build:
      context:    {{ path_infinito_presentation_output.stdout }}
      dockerfile: {{ path_infinito_presentation_output.stdout }}/Dockerfile
    image: {{ NAVIGATOR_IMAGE }}
    pull_policy: never
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:5000"
    volumes:
      - {{ path_infinito_presentation_output.stdout }}:/app
      - {{ path_infinito_output.stdout }}:/source
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
