{% include 'roles/docker-compose/templates/base.yml.j2' %}

  ollama:
{% include 'roles/docker-container/templates/base.yml.j2' %}
    image: {{ OLLAMA_IMAGE }}:{{ OLLAMA_VERSION }}
    container_name: {{ OLLAMA_CONTAINER }}
    expose:
      - "{{ OLLAMA_PORT }}"
    volumes:
      - ollama_models:/root/.ollama
{% include 'roles/docker-container/templates/networks.yml.j2' %}
  
{% include 'roles/docker-compose/templates/networks.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=(lookup('database', application_id).volume if lookup('database', application_id).volume is defined else None),
    extra_volumes={'ollama_models': {'name': OLLAMA_VOLUME}}
) }}
