[global]
error_log = /proc/self/fd/2

[www]
listen = 0.0.0.0:{{ MAGENTO_PHP_PORT }}
clear_env = no

pm = dynamic
pm.max_children = 10
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 5

access.log = /proc/self/fd/2
catch_workers_output = yes
