
#pma_navigation {
    background: linear-gradient(to right, var(--color-01-95), var(--color-01-85));
    color: var(--color-01-05);
}

#pma_navigation_tree a {
    color: var(--color-01-05);
}

#pma_navigation_tree li.activePointer, #pma_navigation_tree li.selected {
    color: var(--color-01-05);
    background-color: var(--color-01-70);
}

.breadcrumb-navbar {
    background-color: var(--color-01-86);
}

.navbar-nav .nav-item {
    background: linear-gradient(var(--color-01-99), var(--color-01-85));
    border-right-color: var(--color-01-99);
    border-left-color: var(--color-01-80);
    border-bottom-color: var(--color-01-80);
}

.result_query div.sqlOuter {
    background: var(--color-01-50);
}

.table {
    --bs-table-bg: var(--color-01-99);               /* #fff → white */
    --bs-table-border-color: var(--color-01-99);     /* #fff → white */
    --bs-table-striped-bg: var(--color-01-90);       /* #dfdfdf → light gray */
    --bs-table-hover-color: var(--color-01-01);      /* #000 → black */
}

.table thead th {
    background-image: linear-gradient(var(--color-01-90), var(--color-01-80));
    border-color: var(--color-01-99);
}

.table th, .table td {
    text-shadow: 0 1px 0 var(--color-01-60);
}

div.tools, .tblFooters {
    color: var(--color-01-01);
    background: var(--color-01-62);
}


.navigation {
    background: linear-gradient(var(--color-01-87), var(--color-01-69));
}

.pma-fieldset {
    border-color: var(--color-01-17);
    background: var(--color-01-80);
}
