{% include 'roles/docker-compose/templates/base.yml.j2' %}
  openresty:
    container_name: {{ openresty_container }}
    image: {{ openresty_image }}:{{ openresty_version }}
    network_mode: "host"
    volumes:
      - {{ nginx.files.configuration }}:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - {{ nginx.directories.configuration }}:/usr/local/openresty/nginx/conf/conf.d:ro
      - {{ nginx.files.configuration }}:{{ nginx.files.configuration }}:ro
      - {{ nginx.directories.configuration }}:{{ nginx.directories.configuration }}:ro
      - {{ nginx.directories.data.www }}:{{ nginx.directories.data.www }}:ro
      - {{ nginx.directories.data.well_known }}:{{ nginx.directories.data.well_known }}:ro
      - {{ LETSENCRYPT_WEBROOT_PATH }}:{{ LETSENCRYPT_WEBROOT_PATH }}:ro
      - {{ LETSENCRYPT_BASE_PATH }}:{{ LETSENCRYPT_BASE_PATH }}:ro
    command: ["openresty", "-g", "daemon off;"]