{% include 'roles/docker-compose/templates/base.yml.j2' %}
  openresty:
    {% include 'roles/docker-container/templates/base.yml.j2' %}
    container_name: {{ OPENRESTY_CONTAINER }}
    image: {{ OPENRESTY_IMAGE }}:{{ OPENRESTY_VERSION }}
    network_mode: "host"
    volumes:
      - {{ NGINX.FILES.CONFIGURATION }}:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - {{ NGINX.DIRECTORIES.CONFIGURATION }}:/usr/local/openresty/nginx/conf/conf.d:ro
      - {{ NGINX.FILES.CONFIGURATION }}:{{ NGINX.FILES.CONFIGURATION }}:ro
      - {{ NGINX.DIRECTORIES.CONFIGURATION }}:{{ NGINX.DIRECTORIES.CONFIGURATION }}:ro
      - {{ NGINX.DIRECTORIES.DATA.WWW }}:{{ NGINX.DIRECTORIES.DATA.WWW }}:ro
      - {{ NGINX.DIRECTORIES.DATA.WELL_KNOWN }}:{{ NGINX.DIRECTORIES.DATA.WELL_KNOWN }}:ro
      - {{ LETSENCRYPT_WEBROOT_PATH }}:{{ LETSENCRYPT_WEBROOT_PATH }}:ro
      - {{ LETSENCRYPT_BASE_PATH }}:{{ LETSENCRYPT_BASE_PATH }}:ro
    command: ["openresty", "-g", "daemon off;"]
    healthcheck:
      test: ["CMD", "openresty", "-t", "-q"]
      interval: 30s
      timeout: 5s
      retries: 3