ssl_certificate     {{ lookup('tls_resolve', application_id, want='files.cert') }};
ssl_certificate_key {{ lookup('tls_resolve', application_id, want='files.key') }};
{% if lookup('tls_resolve', application_id, want='files.ca') | default('') | length > 0 %}
ssl_trusted_certificate {{ lookup('tls_resolve', application_id, want='files.ca') }};
{% endif %}
