ssl_certificate     {{ lookup('cert', application_id, 'files.cert') }};
ssl_certificate_key {{ lookup('cert', application_id, 'files.key') }};
{% if lookup('cert', application_id, 'files.ca') | default('') | length > 0 %}
ssl_trusted_certificate {{ lookup('cert', application_id, 'files.ca') }};
{% endif %}
