[Unit]
Description=TLS cert deploy to {{ docker_compose.directories.instance }}
OnFailure={{ SYS_SERVICE_ON_FAILURE_COMPOSE }}

[Service]
Type=oneshot
ExecStart={{ system_service_script_exec }} \
  {{ lookup('cert_plan', domain, want='files.cert') | dirname }} \
  {{ docker_compose.directories.instance }}
