<?php
$config = array();
$config['database']['type'] = 'mysqli';
$config['database']['database'] = '{{ database_name }}';
$config['database']['table_prefix'] = 'mybb_';
$config['database']['hostname'] = '{{ database_host }}';
$config['database']['port'] = '{{ database_port }}';
$config['database']['username'] = '{{ database_username }}';
$config['database']['password'] = '{{ database_password }}';
$config['database']['encoding'] = 'utf8mb4';
$config['super_admins'] = '{{ MYBB_ADMIN_USER_ID }}';
$config['secret_pin'] = '{{ MYBB_SECRET_PIN  }}';
$config['admin_dir'] = 'admin';
