{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
{% include 'roles/docker-container/templates/base.yml.j2' %}
    image: {{ MYBB_IMAGE }}:{{ MYBB_VERSION }}
    container_name: {{ MYBB_CONTAINER }}
    restart: {{ DOCKER_RESTART_POLICY }}
    volumes:
      - data:/var/www/html
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

  server:
{% include 'roles/docker-container/templates/base.yml.j2' %}
    image: nginx:mainline
    restart: {{ DOCKER_RESTART_POLICY }}
    ports:
      - "127.0.0.1:{{ ports.localhost.http[application_id] }}:{{ container_port }}"
    volumes:
    - "{{ MYBB_NGINX_CONF_DIR_HOST }}:{{ MYBB_NGINX_CONF_DIR_DOCK }}:ro"
    - "{{ MYBB_CONFIG_HOST_PATH }}:{{ MYBB_CONFIG_DOCK_PATH }}:ro"
    - "data:/var/www/html:ro"
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: {{ MYBB_VOLUME }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}