"smtpServer": {
{% if SYSTEM_EMAIL_ENABLED | bool %}
    "password": "{{ users['no-reply'].tokens['web-app-mailu'] }}",
    "replyToDisplayName": "",
    "starttls": "{{ SYSTEM_EMAIL_START_TLS | lower }}",
    "auth": "true",
    "port": "{{ SYSTEM_EMAIL_PORT }}",
    "replyTo": "",
    "host": "{{ SYSTEM_EMAIL_HOST }}",
    "from": "{{ users['no-reply'].email }}",
    "fromDisplayName": "Authentication System ({{ DOMAIN_PRIMARY | lower }})",
    "envelopeFrom": "",
    "ssl": "{{ (SYSTEM_EMAIL_TLS and not SYSTEM_EMAIL_START_TLS) | ternary('true','false') }}",
    "user": "{{ users['no-reply'].email }}"
{% endif %}
}