{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    build:
      context: .
      dockerfile: Dockerfile
    image: "{{ XWIKI_IMAGE_CUSTOM }}"
    container_name: "{{ XWIKI_CONTAINER }}"
    hostname: '{{ XWIKI_HOSTNAME}}'
    ports:
      - "127.0.0.1:{{ XWIKI_HOST_PORT }}:{{ container_port }}"
    volumes:
      - "{{ XWIKI_HOST_CONF_PATH }}:/usr/local/tomcat/webapps/ROOT/WEB-INF/xwiki.cfg"
      - "{{ XWIKI_HOST_PROPERTIES_PATH }}:/usr/local/tomcat/webapps/ROOT/WEB-INF/xwiki.properties"
      - 'data:{{ XWIKI_DOCK_DATA_DIR }}'
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: {{ XWIKI_DATA_VOLUME }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
