<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- deine bestehenden DB-Props (Driver, URL, User, Pass) -->
    <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mariadb://{{ database_host }}:{{ database_port }}/{{ database_name }}?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">{{ database_username }}</property>
    <property name="hibernate.connection.password">{{ database_password }}</property>

    <!-- DBCP: leichte Validierung statt Treiber-isValid / Diagnose -->
    <property name="hibernate.dbcp.testOnBorrow">true</property>
    <property name="hibernate.dbcp.testWhileIdle">true</property>
    <property name="hibernate.dbcp.validationQuery">SELECT 1</property>
    <property name="hibernate.dbcp.validationQueryTimeout">5</property>
    <property name="hibernate.dbcp.timeBetweenEvictionRunsMillis">30000</property>
    <property name="hibernate.dbcp.minEvictableIdleTimeMillis">60000</property>
  </session-factory>
</hibernate-configuration>
