<?xml version="1.0" encoding="UTF-8"?>
<!--
  InstallRequest for the XWiki Extension Manager.

  We MUST render from the computed `extensions_to_install` list
  (not from raw feature flags), otherwise an empty <list/> is sent
  and nothing is installed.
-->
<jobRequest xmlns="http://www.xwiki.org">
  <request class="org.xwiki.extension.job.InstallRequest">
    <extensions>
      {% for ext in extensions_to_install %}
      <extensionId>
        <id>{{ ext.id }}</id>
        <version>{{ ext.version }}</version>
      </extensionId>
      {% endfor %}
    </extensions>
    <namespaces>
      <!-- Install on the main wiki -->
      <string>wiki:xwiki</string>
    </namespaces>
    <installDependencies>true</installDependencies>
    <interactive>false</interactive>
    <verbose>true</verbose>
  </request>
</jobRequest>
