############################################
# OIDC
{% if xwiki_oidc_enabled_switch | bool %}
oidc.provider={{ XWIKI_OIDC_PROVIDER }}
oidc.endpoint.authorization={{ XWIKI_OIDC_AUTHORIZATION }}
oidc.endpoint.token={{ XWIKI_OIDC_TOKEN }}
oidc.endpoint.userinfo={{ XWIKI_OIDC_USERINFO }}
oidc.endpoint.logout={{ XWIKI_OIDC_LOGOUT }}
oidc.clientid={{ XWIKI_OIDC_CLIENT_ID }}
oidc.secret={{ XWIKI_OIDC_CLIENT_SECRET }}
oidc.scope={{ XWIKI_OIDC_SCOPES }}
oidc.enableUser=true
oidc.userinfoclaims={{ XWIKI_OIDC_GROUPS_CLAIM }}
oidc.groups.claim={{ XWIKI_OIDC_GROUPS_CLAIM }}
oidc.groups.mapping=XWiki.XWikiAdminGroup={{ XWIKI_OIDC_ADMIN_PROVIDER_GROUP }}
{% endif %}

############################################
# Distribution Wizard (bootstrap)
{% if xwiki_superadmin_enabled_switch | bool %}
# Start DW automatisch und ohne Interaktion
distribution.automaticStartOnMainWiki=true
distribution.automaticStartOnWiki=true
distribution.job.interactive=false
# Standard-Flavor für Main Wiki (XWiki Standard)
distribution.defaultUI=org.xwiki.platform:xwiki-platform-distribution-flavor-mainwiki
{% endif %}

# Keep data in the Docker volume
environment.permanentDirectory=/usr/local/xwiki/data

# Make sure Extension Manager can fetch artifacts
extension.repositories=xwiki-public:maven:https://nexus.xwiki.org/nexus/content/groups/public/
extension.repositories=central:maven:https://repo1.maven.org/maven2/