---
{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ LITTLEJS_SERVICE }}:
    container_name: {{ LITTLEJS_CONTAINER }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        LITTLEJS_IMAGE:          "{{ LITTLEJS_IMAGE }}"
        LITTLEJS_VERSION:        "{{ LITTLEJS_VERSION }}"
        LITTLEJS_APP_REL:        "{{ LITTLEJS_APP_REL }}"
        LITTLEJS_INDEX_HOST_REL: "{{ LITTLEJS_INDEX_HOST_REL }}"
        LITTLEJS_RUN_HOST_REL:   "{{ LITTLEJS_RUN_HOST_REL }}"
    image: {{ LITTLEJS_IMAGE_CUSTOM }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.littlejs.ports.local.http') }}:80
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
