---
{% include 'roles/docker-compose/templates/base.yml.j2' %}
  {{ LITTLEJS_SERVICE }}:
    container_name: {{ LITTLEJS_CONTAINER }}
    {{ lookup('template', 'roles/docker-container/templates/build.yml.j2') | indent(4) }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:80
{% include 'roles/docker-container/templates/base.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
