{% include 'roles/docker-compose/templates/base.yml.j2' %}
  {{ FRIENDICA_SERVICE }}:
    image: "{{ FRIENDICA_IMAGE }}:{{ FRIENDICA_VERSION }}"
    container_name: "{{ FRIENDICA_CONTAINER }}"
    {% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
      - html:{{ FRIENDICA_APPLICATION_DIR }}
      - data:/var/www/data # I assume that this one is unnessecarry
      - {{ FRIENDICA_LDAP_CONFIG_HOST }}:{{ FRIENDICA_LDAP_CONFIG_DOCKER }}:ro 
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:80"

{% include 'roles/docker-container/templates/healthcheck/msmtp_curl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, want='volume'),
    extra_volumes={'data': {}, 'html': {}}
) }}
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
