{% include 'roles/docker-compose/templates/base.yml.j2' %}
  portfolio:
{% set container_port = 5000 %}
    build:
      context: {{ docker_repository_path }}
      dockerfile: Dockerfile
    pull_policy: never
    image: {{ DESKTOP_IMAGE }}
    container_name: {{ DESKTOP_CONTAINER }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:{{ container_port }}
    volumes:
      - {{ docker_repository_path }}app:/app
    restart: {{ DOCKER_RESTART_POLICY }}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}