server
{
  server_name {{ domains | get_domain(application_id) }};
  
  {% include 'roles/sys-front-tls/templates/nginx_ssl_header.j2' %}

  {% include 'roles/sys-front-inj-all/templates/server.conf.j2'%}

  {% include 'roles/sys-svc-proxy/templates/headers/content_security_policy.conf.j2' %}

  {% include 'roles/sys-svc-proxy/templates/headers/access_control_allow.conf.j2' %}
  
  charset utf-8;
  
  location /
  {
    root {{lookup('nginx_paths','directories.data.html')}};
    index index.html index.htm;
    {% include 'roles/sys-front-inj-all/templates/location.lua.j2' %}
  }

  location /.well-known/ {
    alias {{ lookup('nginx_paths','directories.data.well_known') }};
    allow all;
    default_type "text/plain";
    autoindex on;
  }
}
