{
  "dns": ["{{ networks.internet.dns }}"],
  "dns-search": ["{{ DOMAIN_PRIMARY }}"],
  "dns-opts": ["ndots:0"],
  "storage-driver": "fuse-overlayfs"
{% if SYS_DOCKER_DAEMONM_MTU is defined and SYS_DOCKER_DAEMONM_MTU | int > 0 %},
  "mtu": {{ SYS_DOCKER_DAEMONM_MTU | int }}
{% endif %}
{# Set OS-specific firewall backend to avoid conflicts between Docker and the system firewall (e.g. nftables on Arch Linux). #}
{% set firewall_backend = SYS_SVC_CONTAINER_DOCKER_FIREWALL_BACKEND_BY_OS_FAMILY.get(ansible_facts['os_family']) %}
{% if firewall_backend %},
  "firewall-backend": "{{ firewall_backend }}"
{% endif %}
}
