{# This template needs to be included in compose.yml containers #}
    networks:
{# Central RDMS-Database Network #}
{% if 
  (
    lookup('config',application_id, 'compose.services.database.enabled', False) and 
    lookup('database', application_id, 'shared')
  )
  or
  application_id in ['svc-db-mariadb','svc-db-postgres']
%}
      {{ lookup('config', lookup('database', application_id, 'id'), 'compose.network') }}:
{% if application_id in ['svc-db-mariadb','svc-db-postgres'] %}
          aliases:
            - {{ lookup('database', application_id, 'type') }}
{% endif %}
{% endif %}
{# Central LDAP Network #}
{% if lookup('config',application_id, 'compose.services.ldap.shared', False) and lookup('config','svc-db-openldap', 'network.compose') %}
      {{ lookup('config','svc-db-openldap', 'compose.network') }}:
{% endif %}
{# Central AI Network #}
{% if lookup('config',application_id, 'compose.services.ollama.shared', False) %}
      {{ lookup('config','svc-ai-ollama', 'compose.network') }}:
{% endif %}
{% if not application_id.startswith('svc-db-') and not application_id.startswith('svc-ai-') %}
      default:
{% endif %}
{{ "\n" }}
