document.addEventListener('DOMContentLoaded', function () {
  initIframeHandler(
    '{{ DOMAIN_PRIMARY }}',
    '{{ domain }}',
    '{{ lookup("tls_resolve", "web-app-desktop", want="url.base") }}'
  );
});
{% if MODE_DEBUG | bool %}
try { console.log("[iframe-sync] Sender for iframe messages is active."); } catch(e) {}
{% endif %}
