server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    location / {
        default_type text/plain;
        return 404 "This service is not provided by this {{ SOFTWARE_NAME }} instance.\n";
    }
    {% if (lookup('tls', DOMAIN_PRIMARY, 'mode') == 'letsencrypt') %}
        {% include 'roles/sys-front-tls/templates/acme.conf.j2' %}
    {% endif %}
}
