{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}
  {{ entity_name }}:
    container_name: {{ entity_name }}
    {{ lookup('template', 'roles/sys-svc-container/templates/build.yml.j2') | indent(4) }}
      args:
        ROULETTE_IMAGE:         "{{ ROULETTE_IMAGE }}"
        ROULETTE_VERSION:       "{{ ROULETTE_VERSION }}"
        ROULETTE_WHEEL_APP_REL: "{{ ROULETTE_WHEEL_APP_REL }}"
    image: {{ ROULETTE_IMAGE_CUSTOM }}
    ports:
      - {{ DOCKER_BIND_HOST }}:{{ lookup('config', application_id, 'services.roulette-wheel.ports.local.http') }}:8080
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}

{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
