{% if not lookup('database', application_id, want='shared') %}
      {{ lookup('database', application_id, want='host') }}:
        condition: service_healthy
{% endif %}
{% if applications | is_docker_service_enabled(application_id, 'redis') %}
      redis:
        condition: service_healthy
{% endif %}