<!-- Footer -->
<nav class="navbar navbar-dark bg-dark border-top border-secondary footer-bar">
  <div class="container-fluid d-flex justify-content-between">

    <div class="d-flex align-items-center gap-3">
      <a class="btn btn-sm btn-link text-light" href="{{ LITTLEJS_REPOSITORY_BASE }}" target="_blank">
        <i class="fa-brands fa-github me-1"></i>LittleJS Repository
      </a>

      <a class="btn btn-sm btn-link text-light" href="https://s.infinito.nexus/littlejscode" target="_blank">
        <i class="fa-solid fa-code me-1"></i>{{ LITTLEJS_HEADLINE }} Code
      </a>
    </div>

    <div class="d-flex align-items-center">
      <a class="btn btn-sm btn-link text-light" href="https://infinito.nexus" target="_blank">
        <i class="fa-solid fa-globe me-1"></i>{{ SOFTWARE_NAME }}
      </a>
    </div>

  </div>
</nav>

