{% include 'roles/sys-svc-compose/templates/base.yml.j2' %}

  application:
{% include 'roles/sys-svc-container/templates/base.yml.j2' %}
    image: "{{ PROMETHEUS_IMAGE }}:{{ PROMETHEUS_VERSION }}"
    container_name: "{{ PROMETHEUS_CONTAINER }}"
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:9090"
    command:
      - "--config.file={{ PROMETHEUS_CONFIG_DOCKER }}"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"
    volumes:
      - data:/prometheus
      - {{ PROMETHEUS_CONFIG_HOST }}:{{ PROMETHEUS_CONFIG_DOCKER }}:ro

  blackbox-exporter:
    image: "prom/blackbox-exporter:latest"
    container_name: "{{ PROMETHEUS_CONTAINER }}-blackbox"
    restart: unless-stopped
    command:
      - "--config.file={{ BLACKBOX_CONFIG_DOCKER }}"
    volumes:
      - {{ BLACKBOX_CONFIG_HOST }}:{{ BLACKBOX_CONFIG_DOCKER }}:ro

{% include 'roles/sys-svc-container/templates/networks.yml.j2' %}

{{ applications | compose_volumes(application_id, extra_volumes={'data': {'name': PROMETHEUS_VOLUME_DATA}}) }}
{% include 'roles/sys-svc-compose/templates/networks.yml.j2' %}
