{% include 'roles/docker-compose/templates/base.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=(database_volume if database_volume is defined else None)
) }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
  {{ DISCOURSE_NETWORK }}:
    external: true
