<script src="{{ cdn_urls.shared.js }}/{{ INJ_DASHBOARD_JS_FILE_NAME }}{{ lookup('local_mtime_qs', [playbook_dir, 'roles', 'sys-front-inj-dashboard', 'templates', INJ_DASHBOARD_JS_FILE_NAME ~ '.j2'] | path_join) }}"></script>
