[Unit]
Description=Backup to USB when mounted to {{ BACKUP_TO_USB_MOUNT }}
Wants={{ BACKUPS_SERVICE_MNT_NAME }}
OnFailure={{ SYS_SERVICE_ON_FAILURE_COMPOSE }}

[Service]
Type=oneshot
ExecStart={{ systemctl_script_exec }} {{ BACKUP_TO_USB_SOURCE }} {{ BACKUP_TO_USB_DESTINATION }}
ExecStartPost=/bin/systemctl start {{ SYS_SERVICE_CLEANUP_BACKUPS_OLD }}

[Install]
WantedBy=multi-user.target