services:
  zammad-db:
    image: postgres:15.4-alpine
    restart: always
    environment:
      - POSTGRES_DB=zammad
      - POSTGRES_USER=zammad
      - POSTGRES_PASSWORD={{ zammad_db_pass }}
    volumes:
      - /opt/zammad/postgresql:/var/lib/postgresql/data

  zammad-elasticsearch:
    image: elasticsearch:8.10.2
    restart: always
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
    volumes:
      - /opt/zammad/elasticsearch:/usr/share/elasticsearch/data

  zammad-memcached:
    image: {{ zammad_memcached_image }}
    restart: always

  zammad-rail:
    image: {{ zammad_image }}
    restart: always
    depends_on:
      - zammad-db
      - zammad-elasticsearch
      - zammad-memcached
    environment: &zammad-env
      - MEMCACHE_SERVERS=zammad-memcached:11211
      - POSTGRES_HOST=zammad-db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=zammad
      - POSTGRES_PASS={{ zammad_db_pass }}
      - TZ={{ zammad_timezone }}
      - AUTH_OIDC_ENABLED={{ zammad_oidc_enabled }}
      - AUTH_OIDC_DISPLAY_NAME={{ zammad_oidc_display_name }}
      - AUTH_OIDC_CLIENT_ID={{ zammad_oidc_client_id }}
      - AUTH_OIDC_CLIENT_SECRET={{ zammad_oidc_client_secret }}
      - AUTH_OIDC_SITE={{ zammad_oidc_site }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zammad.rule=Host(`{{ zammad_main_domain }}`) || Host(`{{ zammad_alias_domain }}`)"
      - "traefik.http.routers.zammad.tls=true"
      - "traefik.http.routers.zammad.tls.certresolver=letsencrypt"

  zammad-scheduler:
    image: {{ zammad_image }}
    command: ["zammad-scheduler"]
    restart: always
    depends_on:
      - zammad-rail
    environment: *zammad-env

  zammad-websocket:
    image: {{ zammad_image }}
    command: ["zammad-websocket"]
    restart: always
    depends_on:
      - zammad-rail
    environment: *zammad-env
