[Unit]
Description=Let's Encrypt renewal
OnFailure={{ SYS_SERVICE_ON_FAILURE_COMPOSE }}

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --agree-tos
ExecStartPost=container restart {{ lookup('config','svc-prx-openresty', 'docker.services.openresty.name') }}
