{
  "ExtensionInstallForcelist": [
    {% for plugin in lookup('config',application_id, 'plugins') -%}
    "{{ plugin.id }};{{ plugin.update_url }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "ExtensionSettings": {
    "*": {
      "installation_mode": "{{ lookup('config',application_id, 'default_installation_mode') }}"
    }
    {% for plugin in lookup('config',application_id, 'plugins') -%},
    "{{ plugin.id }}": {
      "installation_mode": "{{ plugin.installation_mode }}",
      "update_url": "{{ plugin.update_url }}",
      "incognito_mode": "{{ 'enabled' if plugin.incognito else 'disabled' }}"
    }
    {% endfor %}
  },
  "PasswordManagerEnabled": {{ lookup('config',application_id, 'password_manager_enabled') }}
}
