{% include 'roles/docker-compose/templates/base.yml.j2' %}
  confluence:
    {{ lookup('template', 'roles/docker-container/templates/build.yml.j2') | indent(4) }}
    image: "{{ CONFLUENCE_CUSTOM_IMAGE }}"
    container_name: "{{ CONFLUENCE_CONTAINER }}"
    hostname: '{{ CONFLUENCE_HOSTNAME}}'
    ports:
      - "{{ DOCKER_BIND_HOST }}:{{ ports.localhost.http[application_id] }}:8090"
    volumes:
      - 'data:{{ CONFLUENCE_HOME }}'
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{{ applications | compose_volumes(
    application_id,
    database_volume=lookup('database', application_id, want='volume'),
    extra_volumes={'data': {'name': CONFLUENCE_DATA_VOLUME}}
) }}
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
